*{
    margin: 0;
    box-sizing: border-box;
}

#page-wrapper{
    width: 80vw;
    background-color: #DAD7CD;
    margin: 0 auto;
    text-align: center;
}

#container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

header, footer{
    background-color: #344E41;
    color: #fff;
    padding-bottom: 1%;
    padding-left: 1%;
    text-align: left;
}

nav{
    background-color: #A3B18A;
    text-decoration-color: #BDC0AF;
    width: 30%;
    display: flex;
    justify-content: center;
    padding: 5px 0 5px;
    box-sizing: border-box;
    max-height:100vh;

}

nav ul{
    padding-left: 0;
    list-style: none;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-size-adjust: 100%;
}

nav li{
    border: 1px solid #588157;
    border-radius: 5%;
    width: 60%;
    padding: 2%;
    margin: 10%;
    background-color: #DAD7CD;
}

nav a{
    display:block;
    text-decoration: none;
    color: #344E41;
    text-align:center;
    padding: 3% 4%;
}

img{
    max-width: 300px;
    height: auto;
    padding-bottom: 5%;
    text-align: center;
    border-radius: 15%;
}
main{
    height: 100vh;
    width: 70%;
    background-color: #DAD7CD;
    color: #344E41;
    padding: 5% 5%;
    font-size: calc(2px + 1.5vw);
}

main h1{
    padding-bottom: 1%;
}

.education h1{
    padding-bottom: 2%;
}

.education h3{
    padding-bottom: 2%;
}
.education h4{
    text-align: left;
    padding-left: 10%;
}

.experience{
    margin: auto 0;
    padding-top: 3%;
}

.experience p{
    text-align: left;
    padding-left: 7%;
    font-size: calc(2px + 1.5vw);
}

#orientation{
    list-style: none;
    padding-left: 1%;
}

#orientation li{
    margin: 1%;
    border-left: .5px solid #588157;
    padding-left: 5%;
    padding-bottom: 2%;
    text-align: left;
    font-size: calc(2px + 1.2vw);

}

#cds{
    list-style: none;
    padding-left: 1%;
}

#cds li{
    margin: 1%;
    border-left: .5px solid #588157;
    padding-left: 5%;
    padding-bottom: 2%;
    text-align: left;
    font-size: calc(2px + 1.2vw);
}

.education h3{
    padding-right: 23%;
    margin-left: 5%;
    margin-top: 5%;
    border-left: 1px solid #588157;
    font-size: calc(2px + 1.7vw);
}

.education h4{
    padding-left: 13%;
}

.education h5{
    padding-top: 3%;
    padding-left: 13%;
    text-align: left;
    font-size: calc(2px + 1.3vw);
}

.education p{
    text-align: left;
    padding-left: 13%;
}
#coursework{
    padding-bottom: 1%;
    list-style: none;

}
#coursework li{
    margin: 3% 0 3% 8%;
    padding-right: 15%;
    border-left: 1px dashed #588157;
}

.skills p{
    text-align: left;
    padding-left: 13%;
    font-size: calc(2px + 1vw);
}

#programming-languages{
    padding-bottom: 1%;
    list-style:none;
    text-align: left;
}

#programming-languages li{
    padding-left: 9%;
    margin: 4%;
    border-left: 1px solid #588157;
    font-size: calc(2px + 1.1vw);
}

#software{
    padding-bottom: 1%;
    list-style:none;
    text-align: left;
}
#software li{
    padding-left: 9%;
    margin: 5%;
    border-left: 1px solid #588157;
    font-size: calc(2px + 1.1vw);
}
#languages{
    padding-bottom: 2%;
    list-style:none;
    text-align: left;
    font-size: 17px;
}

#languages li{
    padding-left: 9%;
    margin: 5%;
    border-left: 1px solid #588157;
    font-size: calc(2px + 1.1vw);
}

.projects h2{
    font-size: calc(2px + 1vw);
}
#project-1{
    list-style: none;
    padding-left: 1%;
}

#project-1 li{
    margin: 1%;
    border-left: .5px solid #588157;
    padding-left: 3%;
    padding-bottom: 2%;
    text-align: left;
    font-size: calc(2px + 1vw);
}

#project-2{
    list-style: none;
    padding-left: 1%;
}

#project-2 li{
    margin: 1%;
    border-left: .5px solid #588157;
    padding-left: 3%;
    padding-bottom: 2%;
    text-align: left;
    font-size: calc(2px + 1vw);
}

.leadership{
    list-style: none;
    padding-left: 1%;
}

.leadership li{
    list-style: none;
    margin: 1%;
    border-left: .5px solid #588157;
    padding-left: 3%;
    padding-bottom: 2%;
    text-align: left;
    font-size: calc(2px + 1.2vw);
}

.leadership h2{
    font-size: calc(2px + 1.6vw);
}

.calculator{
    width: 60%;
    margin: 1% auto;
    padding: 2% 4% 2% 4%;
    background-color: #DAD7CD;
    border: 1px solid #588157;
    border-radius: 3%;
    text-align: center;
}

.calculator h1{
    padding-bottom: 3%;
    font-size: calc(2px + 1.5vw);
}

#output{
    font-size: calc(2px + 1.5vw);
}



.calculator input{
    width:90%;
    padding: 2%;
    margin-bottom: 3%;
    border: 1px solid #588157;
    border-radius: 2%;
}

.calculator .calculator-button{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1%;
    margin-bottom: 4%;
}

.calculator button{
    padding: 8% 2%;
    background-color: #A3B18A;
    color: #fff;
    border: none;
    border-radius: 2%;
}

/*above is desktop below is phone*/
@media screen and (max-width: 1000px){
    #container{
        flex-direction: column;
    }


    nav{
        width: 100%;
        margin-right: 0;
        margin-bottom: 16px;
    }

    nav ul{
        flex-direction: row;
    }

    nav li{
        margin: 0 auto;
        padding: 2px;
    }

    main{
        height: 100vh;
        width: 100%;
    }

    .skills p{
        font-size: calc(2px + 1.8vw);
    }


    #programming-languages li{
        font-size: calc(2px + 1.9vw);
    }

    #software li{
        font-size: calc(2px + 1.9vw);
    }


    #languages li{
        font-size: calc(2px + 1.9vw);
    }


    .experience p{
        font-size: calc(2px + 1.9vw);
    }


    #orientation li{
        font-size: calc(2px + 1.7vw);
    }


    #cds li{
        font-size: calc(2px + 1.7vw);
    }

    .projects h2{
        font-size: calc(2px + 2vw);
    }

    #project-1 li{
        font-size: calc(2px + 1.6vw);
    }

    #project-2 li{
        font-size: calc(2px + 1.6vw);
    }

    .leadership li{
        font-size: calc(2px + 1.6vw);
    }

    .leadership h2{
        font-size: calc(2px + 1.9vw);
    }

    .calculator h1{
        font-size: calc(2px + 2vw);
    }

    #output{
        font-size: calc(2px + 2vw);
    }
}